// showing default values
$accentColor = rgb(2,126,64)
$textColor = rgb(51,51,51)
$borderColor =rgb(222,205,106)
$codeBgColor = #282c34
$arrowBgColor = #ccc


// layout
$navbarHeight = 0.6rem
$sidebarWidth = 10rem
$contentWidth = 959px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css';
@import 'https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'https://use.fontawesome.com/releases/v5.2.0/css/all.css';

body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.font-small {
  font-size: 0.7rem;
}
.font-medium {
  font-size: 0.9rem
  }